---
import "@fontsource-variable/gabarito";
import "@fontsource-variable/overpass-mono";
import "@lib/global.css";
import { getRelativeLocaleUrl } from "astro:i18n";
import {
  removeLocaleFromUrl,
  supportedLocales,
  useTranslations,
  type SupportedLocale,
} from "@lib/i18n.ts";

const locale = Astro.currentLocale! as SupportedLocale;
const i18n = useTranslations(locale);

function formatLocaleLink(locale: SupportedLocale) {
  return getRelativeLocaleUrl(locale, removeLocaleFromUrl(Astro.url.pathname));
}
---

<!doctype html>
<html lang={locale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>SCVI</title>
  </head>
  <body>
    <header>
      <a href={getRelativeLocaleUrl(locale, "")}>
        <svg
          viewBox="0 0 400 400"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M37.1967 95.998L18.7901 92.1864L8 115.691L20.0595 118.868L70.8364 199L87 266.5L150.175 359L171.121 341.848L232.688 334.224L236.496 341.848L246.017 338.671L249.825 327.872L282.5 309L381.845 282.132L392 243.381L381.845 230.04L331.702 224.323L253.633 115.691L190 104.5L93.0512 42L56.238 50.2585L70.8364 71.8577L37.1967 95.998Z"
            stroke-width="30"
          >
          </path>
        </svg>
        <h1>SCVI</h1>
      </a>
    </header>

    <slot />
    <footer>
      <ul>
        {i18n("languages")}:
        {
          supportedLocales.map((l) => (
            <li>
              <a href={formatLocaleLink(l)}>{l}</a>
            </li>
          ))
        }
      </ul>
    </footer>
  </body>
</html>

<style>
  header {
    width: fit-content;
  }

  header a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
  }

  header svg {
    height: 2.5em;
    width: auto;
    stroke: var(--black);
  }

  header a:hover {
    color: var(--green);
    svg {
      stroke: var(--green);
    }
  }

  footer {
    margin-top: 2rem;
  }

  li {
    list-style: none;
    display: inline;
  }
</style>
