@import '@fontsource/gabarito';
@import '@fontsource-variable/overpass-mono';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--fuschia: 292 100% 66%;
		--black: 0 0% 0%;
		--black-light: 0 0% 9%;
		--fuschia-dark: 292 100% 60%;

		--background: var(--fuschia);
		--foreground: var(--black);
		--muted: var(--fuschia-dark);
		--muted-foreground: var(--black);
		--popover: var(--fuschia);
		--popover-foreground: var(--black);
		--card: var(--fuschia);
		--card-foreground: var(--black);
		--border: var(--black);
		--input: var(--black);
		--primary: var(--black);
		--primary-foreground: var(--fuschia);
		--secondary: var(--black);
		--secondary-foreground: var(--black-light);
		--accent: var(--fuschia-dark);
		--accent-foreground: var(--black-light);

		/* TODO: the following colors may need updated in the future */
		--destructive: 0 72.2% 50.6%;
		--destructive-foreground: 210 40% 98%;
		--ring: 222.2 84% 4.9%;
		--radius: 0.5rem;
		--sidebar-background: 0 0% 98%;
		--sidebar-foreground: 240 5.3% 26.1%;
		--sidebar-primary: 240 5.9% 10%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 240 4.8% 95.9%;
		--sidebar-accent-foreground: 240 5.9% 10%;
		--sidebar-border: 220 13% 91%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;

		@apply font-mono;
		font-feature-settings: 'liga' 0;
	}
}
