---
import { type Entry as EntryType } from "@lib/types.ts";
import Entry from "./Entry.astro";

interface Props {
  entries: EntryType[];
}

const { entries } = Astro.props as Props;
---

<h2>Index</h2>
{entries.map((entry) => <Entry {entry} />)}
