---
import { type Entry as EntryType } from "@lib/types.ts";
import Entry from "./Entry.astro";
import EntryListCounter from "./EntryListCounter.svelte";

interface Props {
  entries: EntryType[];
}

const { entries } = Astro.props as Props;
---

<script>
  import { entries as entriesStore } from "@lib/store.ts";

  class EntryListWrapper extends HTMLElement {
    connectedCallback() {
      const entries = this.dataset.entries!;
      entriesStore.set(JSON.parse(entries));
    }
  }

  customElements.define("entry-list-wrapper", EntryListWrapper);
</script>

<h2>Index</h2>
<EntryListCounter client:load />
<entry-list-wrapper data-entries={JSON.stringify(entries)}>
  {entries.map((entry) => <Entry {entry} />)}
</entry-list-wrapper>
