---
import { getAllCampaigns, getAllTypes } from "@lib/api.ts";
import FilterInput from "./FilterInput.svelte";
import FilterToggle from "./FilterToggle.svelte";
import FilterToggleAll from "./FilterToggleAll.svelte";
import FilterReset from "./FilterReset.svelte";

const campaigns = await getAllCampaigns();
const types = await getAllTypes();
---

<div class="flex-pad-gap">
  <fieldset class="search">
    <legend>search fields</legend>
    <div class="flex-pad-gap">
      <label>
        title
        <FilterInput key="title" client:load />
      </label>
      <label>
        author
        <FilterInput key="author" client:load />
      </label>
      <label>
        year
        <FilterInput key="year" client:load />
      </label>
    </div>
  </fieldset>

  <fieldset>
    <legend>campaigns</legend>
    <div class="flex-pad-gap">
      {
        campaigns.map((campaign) => (
          <FilterToggle key={"campaigns"} value={campaign.name} client:load />
        ))
      }
    </div>
    <FilterToggleAll
      key={"campaigns"}
      values={campaigns.map((campaign) => campaign.name)}
      client:load
    />
  </fieldset>

  <fieldset>
    <legend>content types</legend>
    <div class="flex-pad-gap">
      {
        types.map((type) => (
          <FilterToggle key={"types"} value={type.name} client:load />
        ))
      }
    </div>
    <FilterToggleAll
      key={"types"}
      values={types.map((type) => type.name)}
      client:load
    />
  </fieldset>

  <FilterReset client:load />
</div>

<style>
  fieldset {
    border: 1px solid var(--black);
  }

  .flex-pad-gap {
    gap: 0.5rem;
  }
</style>
