:root {
  --lavender: #a68ec5;
  --black: #000000;
  --green: #00ff00;
}

:root {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--lavender);
  color: var(--black);

  font-family: "Overpass Mono Variable", monospace;
  font-feature-settings: "liga" 0;

  max-width: 64rem;
  margin: auto;
  padding: 0.5rem;
}

h1,
h2 {
  font-family: "Gabarito Variable", system-ui, sans-serif;
  font-weight: 700;
}

a {
  color: var(--black);
}

summary {
  cursor: pointer;
}

a:hover,
summary:hover {
  color: var(--green);
}

.bold {
  font-weight: bold;
}

.flex-pad-gap {
  display: flex;
  flex-wrap: wrap;
}

.flex-pad-gap > * {
  width: 100%;
}
